<!doctype html>
<html lang="ca" ng-app="angularTIC">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Consultar llistat d'inventari</title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/styles.css" />
</head>

<body ng-controller="getAllInventoryController">
    <nav ng-controller="navBarController" class="navbar navbar-default navbar-fixed-top" ng-include="'navbar.html'"></nav>
    <div class="container">
        <!--Cabecera-->
        <div class="page-header">
            <h1>Número d'entrades d'inventari: <span class="label label-info">{{ inventory.length }}</span></h1>
        </div>
        <!--Lista de Todos-->
        <div id="todo-list" class="row">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Núm. sèrie</th>
                        <th scope="col">Descripció</th>
                        <th scope="col">Lloc</th>
                        <th scope="col">Tipus</th>
                        <th scope="col">Observacions</th>
                        <th scope="col">Data</th>
                        <th scope="col">Accions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="i in inventory">
                        <td>{{ i.num_serie }}</td>
                        <td>{{ i.descripcio }}</td>
                        <td>{{ i.aula }}</td>
                        <td>{{ i.tipus }}</td>
                        <td>{{ i.observacions }}</td>
                        <td ng-bind="i.created_at | date:'dd/MM/yyyy HH:mm'"></td>
                        <td>
                            <a ng-href="/detallInventari.html?inventory_id={{i.inventory_id}}" target="_self" class="glyphicon glyphicon-eye-open"></a>
                            <a ng-href="/inventory/generate/{{i.inventory_id}}" target="_self" class="glyphicon glyphicon-download-alt"></a>
                            <a ng-href="#" ng-click="deleteInventory(i.inventory_id)" target="_self" class="glyphicon glyphicon-remove-circle"></a>
                        </td>
                    </tr>
                    <tbody>
            </table>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="main.js"></script>
</body>

</html>