<!doctype html>
<html lang="ca" ng-app="angularTIC">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crear tipus de material</title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <script data-require="angular.js@*" data-semver="1.4.8" src="https://code.angularjs.org/1.4.8/angular.js"></script>
    <script data-require="angular-ui-bootstrap@0.12.1" data-semver="0.12.1" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="./css/styles.css" />
    <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
    <base href="/">
</head>

<body ng-controller="createTypeController">
    <nav ng-controller="navBarController" class="navbar navbar-default navbar-fixed-top" ng-include="'navbar.html'">
    </nav>
    <div class="container">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <strong>Error!</strong> <span id="error-message">Better check yourself, you're not looking too good.</span>
        </div>
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <strong>Perfecte!</strong> <span id="success-message">Better check yourself, you're not looking too
                good.</span>
        </div>
        <!-- HEADER -->
        <div class="page-header">
            <h1>Crear tipus</h1>
        </div>
        <!-- Form -->
        <form>
            <div class="row">
                <div class="row panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label>Tipus de material</label>
                                <input type="text" class="text-center form-control" placeholder="Tipus de material" ng-model="formData.descripcio" required />
                            </div>
                        </div>
                    </div>
                </div>

                <button class="btn btn-primary btn-lg" ng-click="createType()">Afegir</button>
        </form>
        </div>
        <script src="main.js"></script>
</body>

</html>