<!doctype html>
<html lang="ca" ng-app="angularTIC">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crear nova entrada d'inventari</title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="./css/styles.css" />
</head>

<body ng-controller="createInventoryController">
    <nav ng-controller="navBarController" class="navbar navbar-default navbar-fixed-top" ng-include="'navbar.html'">
    </nav>
    <div class="container">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <strong>Error!</strong> <span id="error-message">Better check yourself, you're not looking too good.</span>
        </div>
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <strong>Perfecte!</strong> <span id="success-message">Better check yourself, you're not looking too
                good.</span>
        </div>
        <!--Cabecera-->
        <div class="page-header">
            <h1>Crear nova entrada d'inventari</h1>
        </div>
        <!--Lista de Todos-->
        <form>

            <div class="row">
                <div class="col-md-6 panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Número de sèrie:</label>
                            <input type="text" class="text-center form-control" placeholder="N/S" ng-model="formData.num_serie" required>
                        </div>
                        <div class="form-group">
                            <label>Lloc:</label>
                            <select name="locationSelect" class="form-control" id="locationSelect" ng-model="formData.location_id" ng-options="location.location_id as location.aula for (key, location) in locations" required>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Tipus:</label>
                            <select name="typeSelect" class="form-control" id="typeSelect" ng-model="formData.type_id" ng-options="type.type_id as type.descripcio for (key, type) in types" required>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label>Text etiqueta:</label>
                            <input type="text" class="form-control" id="typeSelect" ng-model="formData.text_etiqueta" required>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Descripció:</label>
                            <textarea name="Text1" cols="40" rows="11" class="text-center form-control areatext" placeholder="Descripció" ng-model="formData.descripcio"></textarea>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row panel panel-default">
                <div class="col-md-12 form-group panel-body">
                    <label>Observacions</label>
                    <textarea name="Text1" cols="40" rows="5" class="text-center form-control" placeholder="Observacions" ng-model="formData.observacions"></textarea>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-primary btn-lg" ng-click="createInventory()">Afegir</button>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="main.js"></script>
</body>

</html>